header {
    background: rgba(28, 54, 85, .6);
}

.hero{
    background: url('../img/main_image.jpg') no-repeat bottom center;
}

.hero {
    height: 900px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media (max-width: 1500px)
.hero {
    height: 800px;
}

@media (max-width: 800px)
.hero {
    height: 600px;
}