<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр ссылок</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/show_goods.css" %}">
</head>
<style>
#{{ form.url.auto_id }} {
width: 100%;
}
</style>
<body>
<h1 class="center">Ссылки на сайты:</h1>
{% if has_message %}
<script>alert("{{ message }}");</script>
{% endif %}

{% if products %}
<table>
    <tr>
        <th>Фото</th>
        <th>Ссылка (url)</th>
        <th>Цена</th>
    </tr>
    {% for product in products %}
    <tr>
        <td><img style="height:40px;" src="{{product.photo_path}}""></td>
        <td><a href="{{ product.url }}">{{ product.url }}</a></td>
        <td>{{ product.price_rub }}</td>
        <td>
            {% if not product.is_running %}
                <form method="POST" action="price_task/{{ product.id }}/">
                    {% csrf_token %}
                    <button type="submit" class="run_task_btn">Обновить цену</button>
                </form>
            {% else %}
            Задача запущена
            {% endif %}
        </td>
            <td>
        <form method="POST" action="delete_link/{{product.id}}/">
            {% csrf_token %}
            <button type="submit" class="delete_btn">Удалить</button>
        </form>
    </td>
    </tr>
    {% endfor %}

    <form method="POST" action="add_ref_link">
        {% csrf_token %}
        <tr>
            <td colspan="2">{{ form.url }}</td>
            <td colspan="3">
                <button type="submit" class="btn">Добавить новую запись</button>
            </td>
        </tr>
    </form>
</table>
{% endif %}

{% if products %}
<div id="goods_container">
    {% for product in products %}
    <a href="{{product.url}}">
    <div class="goods">
        <div class="photo">
            <img class="good_img" src="{{product.photo_path}}"">
        </div>
        <div class="description center"><b>{{product.price_rub}}</b></div>
    </div>
    </a>
    {% endfor %}
</div>
{% endif %}
<div><p class="center"><a href="/">Вернуться на главную страницу</a></p></div>
</body>
</html>